// Navigation Styles here
.navheader {
    display: flex;
    justify-content: space-evenly;
    nav {
        width: 42%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            margin-left: 10%;
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
        }// end a
    }// end nav
    margin-top: 2%;
    padding-bottom: 2%;
    border-bottom: 2px dashed silver;
    width: 100%;
}// end header